# KodigenPHP Environment Configuration
# https://github.com/kodigen/KodigenPHP

[application]
site_url = "http://www.kodigen.com"

[database]
default.provider = "Mysql"
default.username = "kodigen"
default.password = "123456"